<%= form_for @forum do |f| %>
	<div class="field-body">
		<div class="field">
		      <%= f.label :title, class: "form-label"  %>
		      <%= f.text_field :title, autofocus: true, required: true, class: "form-input" %>
		</div>

		<div class="field margin-bottom">
		      <%= f.label :content, class: "form-label"  %>
		      <%= f.cktext_area :content, autofocus: true, required: true%>
		</div>

		<%= f.submit "Submit", class: "btn btn-primary margin-bottom" %>
	</div>
<% end %>