<div class="search_wrapper">
	<%= form_tag search_forums_path, method: :get, class: "search_bar clearfix", role: "search" do %>
		  <%= text_field_tag :search, params[:search], class: "form-control form_search", placeholder: "Search The Forums Here" %>
		  <%= submit_tag "Search", name: nil, class: "btn btn-primary btn-search" %>
	<% end %>
</div>

<div class="row home_title_row">
	<div class="col-md-4 home_row">
		<h4 class="home_title">Forums</h4>
	</div>
</div>

<%= link_to "Create A New Forum", new_forum_path, class: "btn btn-primary forum_button" %>

<table class="table table-striped">
	<thead>
		<th>Title</th>
		<th>Content</th>
		<th>Created By</th>
		<th>Created On</th>
		<th>Updated At</th>
	</thead>
	<tbody>
		<% @forums.each do |forum| %>
			<tr>
				<td><%= link_to forum.title, forum, class: "forum_index_title" %></td>
				<td><%= truncate(striphtml(forum.content), length: 100) %></td>
				<td><%= link_to forum.user.full_name, forum.user %></td>
				<td><%= forum.created_at.strftime('%b %d %Y') %></td>
				<td><%= forum.updated_at.strftime('%b %d %Y') %></td>
			</tr>
		<% end %>
	</tbody>
</table>