<div class="search_wrapper">
	<%= form_tag search_forums_path, method: :get, class: "search_bar clearfix", role: "search" do %>
		  <%= text_field_tag :search, params[:search], class: "form-control form_search", placeholder: "Search The Forums Here" %>
		  <%= submit_tag "Search", name: nil, class: "btn btn-primary btn-search" %>
	<% end %>
</div>

<div class="row">
	<div class="col-md-8">
		<h1>Forums</h1>
	</div>
	<div class="col-md-4">
		<%= link_to "Create A New Forum", new_forum_path, class: "btn btn-primary pull-right forum_button" %>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<th>Title</th>
		<th>Content</th>
		<th>Created By</th>
		<th>Created On</th>
		<th>Updated At</th>
	</thead>
	<tbody>
		<% @forums.each do |forum| %>
			<tr>
				<td><%= link_to forum.title, forum, class: "forum_index_title" %></td>
				<td><%= truncate(forum.content, length: 100) %></td>
				<td><%= link_to forum.user.firstname, forum.user %></td>
				<td><%= forum.created_at.strftime('%b %d %Y') %></td>
				<td><%= forum.updated_at.strftime('%b %d %Y') %></td>
			</tr>
		<% end %>
	</tbody>
</table>