<h1><%= @forum.title %></h1>
<div class="row">
	<div class="col-md-1">
		<%= link_to image_tag(@forum.user.profile_picture.url(:medium), class: "profile_thumbnail user_profile_thumbnail"), user_path(@forum.user) %>
	</div>
	<div class="col-md-10">
		<h4 class="comment_name"><%= @forum.user.full_name %></h4>
	</div>
</div> <!-- row -->
<p><%= @forum.content.html_safe %></p>
<% if current_user.id === @forum.user_id %>
	<%= link_to "  Edit", edit_forum_path, class: 'glyphicon glyphicon-pencil' %>
	<%= link_to "  Delete", forum_path(@forum), method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash"  %>
<% end %> 

<h4 class="page-header"> Reponses (<%=@forum.answers.count %>)</h4>

<% if @forum.answers.any? %>
	<%= render @forum.answers %>
<% else %>
	<p>There are no responses here. Be the first to say something?</p>
<% end %>

<h4 class="page-header">Add a response</h4>
<%= render 'answers/form' %>

<div class="btn-toolbar">
	<%= link_to "Back", root_path, class: "btn btn-primary" %>
</div>