%div.comment
	%h4
		%span= comment.user.firstname
		%span= comment.user.lastname
	%span.comment_time
		= time_ago_in_words(comment.created_at)
		Ago
	%br
	%p= comment.body
	- if current_user.id == comment.user_id
		%p= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: "Are you sure?"}