<%= form_for @article do |f| %>
	<div class="field-body">
		<div class="field">
	      <%= f.label :title, class: "form-label"  %>
	      <%= f.text_field :title, autofocus: true, required: true, class: "form-input" %>
	    </div>

		<div class="field">
		<%= f.label :content, class: "form-label"  %>
		<%= f.cktext_area :content, class: "article_content_form", class: "form-input" %>
		</div>

		<div class="field">
		<%= f.label :image, class: "form-label"  %>
		<%= f.file_field :image, as: :file, class: "file-field"  %>
		</div>

		<div class="field margin-bottom">
		<%= f.label :document, class: "form-label"  %>
		<%= f.file_field :document, as: :file, class: "file-field" %>
		</div>

		<div class="field margin-bottom">
			<%= f.label :category_id, "Category", class: "form-label"  %>
			<br/>
			<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|%>
				<% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "select")	+ cb.text } %>
			<% end %>
		</div>

		<%= f.submit "Submit", class: "btn btn-primary margin-bottom" %>
	</div>
<% end %>