<%= render 'search' %>

<div class="row home_title_row">
	<div class="col-md-12 home_row">
		<h4 class="home_title">Articles</h4>
	</div> <!-- col-md-12 -->
</div> <!-- home_title_row -->

<br/>

<% if user_signed_in? %>
	<span class="btn btn-primary forum_button"><%= link_to "Create a New Article", new_article_path %></span>
<% end %>

<br/>

<% @articles.each do |article| %>
	<h3><%= link_to article.title, article, class: "article_index_title" %></h3>
	<p><strong>Created by:</strong> <%= article.user.full_name %></p>
	<div class="row">
		<div class="col-md-3">
			<p><strong>Created On:</strong> <%= article.created_at.strftime('%b %d, %Y') %></p>
		</div> <!-- col-md-3 -->
		<div class="col-md-3">
			<p><strong>Update At:</strong> <%= article.updated_at.strftime('%b %d, %Y') %></p>
		</div> <!-- col-md-3 -->
	</div> <!-- row -->
	<p class="content-body"><%= truncate(striphtml(article.content), length: 500) %>  <%= link_to "Read More", article %></p>
<% end %>

<%= paginate @articles %>