%h1.page-header Index of NEI Articles

- if user_signed_in?
	= link_to "New Article", new_article_path

%br
%br	

- @articles.each do |article|
	%H4= link_to article.title, article
	%div.row
	%p 
	Created on
	= article.created_at.strftime('%b %d, %Y')
	%p
	Updated on
	= article.updated_at.strftime('%b %d, %Y')
	%p= truncate(article.content, length: 200)