= render 'search'
%h1.page-header Search Results

- @articles.each do |article|
	%H4= link_to article.title, article
	%div.row
		%div.col-md-3
			%p 
			Created on
			= article.created_at.strftime('%b %d, %Y')
		%div.col-md-3
			%p
			Updated on
			= article.updated_at.strftime('%b %d, %Y')
	%p.content-body
		= truncate(article.content, length: 200)
		= link_to "Read more >>", article