%h1.page-header.article-title= @article.title

%div.row
	%div.col-md-12
		%p
			%strong
				Created by: 
			= @article.user.firstname
			= @article.user.lastname

%div.row
	%div.col-md-3
		%p
			%strong 
				Created on: 
			= @article.created_at.strftime('%b %d, %Y')
	%div.col-md-3
		%p
			%strong
				Updated on: 
			= @article.updated_at.strftime('%b %d, %Y')
%br

%p= @article.content

-if @article.category.present?
	%p
		%strong
			Tags:
		= @article.category.name
%br
%h4.page-header Additional Documents
%br

-if @article.document_file_name.present?
	%p Name:
	%p= link_to @article.document_file_name, @article.document.url, target: "_blank"
-else
	%br

-if @article.image_file_name.present?
	= image_tag @article.image.url(:medium)
-else
	%br
%h4.page-header 
	Comments (
	=@article.comments.count
	)
- if @article.comments.any?
	= render @article.comments
-else
	%p There are no comments here
%h4.page-header Add a comment
= render 'comments/form'
.btn-toolbar
	= link_to "Back", root_path, class: "btn btn-primary"

	- if user_signed_in?
		= link_to "Edit", edit_article_path, class: "btn btn-info"
		= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
