%h1.page-header= @article.title
%div.row
	%div.col-md-3
		%p 
		Created on
		= @article.created_at.strftime('%b %d, %Y')
	%div.col-md-3
		%p
		Updated on
		= @article.updated_at.strftime('%b %d, %Y')
%br

%p= @article.content

%p
	Tags:
	= @article.category.name

.btn-group
	= link_to "Back", root_path, class: "btn btn-default"

	- if user_signed_in?
		= link_to "Edit", edit_article_path, class: "btn btn-default"
		= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"