<div class="row home_title_row">
	<div class="col-md-4 home_row">
		<h4 class="home_title">Admin Dashboard</h4>
	</div>
</div>

<ul class="admin-navbar">
  <li onclick="tabs('admin-users');"><p>Users</p></li>
  <li onclick="tabs('admin-articles');"><p>Articles</p></li>
  <li onclick="tabs('admin-forums');"><p>Forums</p></li>
  <li onclick="tabs('admin-categories');"><p>Categories</p></li>
  <li onclick="tabs('admin-flagged-comments');"><p>Flagged Article Comments (<%= @flagged_comments.count %>)</p></li>
  <li onclick="tabs('admin-flagged-answers');"><p>Flagged Forum Comments (<%= @flagged_answers.count %>)</p></li>
</ul>

<div id="admin-users" class="dashboard-div">
	<h1>Users</h1>
	<p><%= link_to 'Create New User', new_user_path %></p>
	<%= render 'users' %>
</div>

<div id="admin-articles" class="dashboard-div">
	<h1>Articles</h1>
	<p><%= link_to 'Create New Article', new_article_path %></p>
	<%= render 'articles' %>
</div>

<div id="admin-forums" class="dashboard-div">
	<h1>Forums</h1>
	<p><%= link_to 'Create New Forum', new_forum_path %></p>
	<%= render 'forums' %>
</div>

<div id="admin-categories" class="dashboard-div">
	<h1>Categories</h1>
	<p><%= link_to 'Create New Category', new_category_path %></p>
	<%= render 'categories' %>
</div>

<div id="admin-flagged-comments" class="dashboard-div">
	<h1>Flagged Article Comments</h1>
	<%= render 'flagged_comments' %>
</div>

<div id="admin-flagged-answers" class="dashboard-div">
	<h1>Flagged Forum Comments</h1>
	<%= render 'flagged_answers' %>
</div>

<script>
	tabs('admin-users');
</script>