<div class="row home_title_row">
	<div class="col-md-4 home_row">
		<h4 class="user_title"><%= @user.full_name %>'s Articles (<%= @user.articles.count %>)</h4>
	</div>
</div>

<% if @user.articles.any? %>
	<table class="table table-striped">
		<thead>
			<th>Title</th>
			<th>Content</th>
			<th>Created On</th>
			<th>Updated At</th>
		</thead>
		<tbody>
			<% @user.articles.each do |article| %>
				<tr>
					<td><%= link_to article.title, article, class: "forum_index_title" %></td>
					<td><%= truncate(striphtml(article.content), length: 80) %></td>
					<td><%= article.created_at.strftime('%b %d %Y') %></td>
					<td><%= article.updated_at.strftime('%b %d %Y') %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<div class="col-md-6 profile_block">
		<p><%= @user.firstname %> has not written any articles yet.</p>
	</div>
<% end %>