<div class="row home_title_row">
	<div class="col-md-4 home_row">
		<h4 class="home_title"><%= @user.full_name %>'s Forums (<%= @user.forums.count %>)</h4>
	</div>
</div>

<% if @user.forums.any? %>
	<table class="table table-striped">
		<thead>
			<th>Title</th>
			<th>Content</th>
			<th>Created On</th>
			<th>Updated At</th>
		</thead>
		<tbody>
			<% @user.forums.each do |forum| %>
				<tr>
					<td><%= link_to forum.title, forum, class: "forum_index_title" %></td>
					<td><%= truncate(striphtml(forum.content), length: 80) %></td>
					<td><%= forum.created_at.strftime('%b %d %Y') %></td>
					<td><%= forum.updated_at.strftime('%b %d %Y') %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<div class="col-md-6 profile_block">
		<p><%= @user.firstname %> has not created any forums yet.</p>
	</div>
<% end %>
