<div class="row home_title_row">
	<div class="col-md-4 home_row">
		<h4 class="home_title">Users</h4>
	</div>
</div>
<div class="row">
<% @users.each do |user| %>
	<div class="col-md-3 user-index">
		<div class="col-md-4">
			<%=image_tag('default-avatar.png', class: "profile_thumbnail") %>
		</div>
		<div class="col-md-8">
			<p> <%= link_to user_path(user) do %><%= user.firstname %> <%=user.lastname %> <% end %></p>
			<p> Articles (<%= user.articles.count %>)</p>
			<p> Comments (<%= user.comments.count %>)</p>
		</div>
	</div>
<% end %>
</div>