<div class="col-sm-3 col-md-2 sidebar" id="sidebar">
  <ul class="nav nav-sidebar">
    <li class="category_header">
    	<span><%= image_tag "home.png" %><%= link_to "Home", root_path %></span>
    </li>
    <li class="sidebar_item">
    	<span><%= image_tag "profile.png", class: "sidebar_icon" %><%= link_to "My Profile", pages_profile_path %></span>
    </li>
    <li class="sidebar_item">
    	<span><%= image_tag "documentw.png", class: "sidebar_icon"  %><%= link_to "Articles", articles_path %></span>
    </li>
    <li class="sidebar_item">
    	<span><%= image_tag "categoryw.png", class: "sidebar_icon"  %><%= link_to "Categories", categories_path %></span>
    </li>
    <li class="sidebar_item">
    	<span><%= image_tag "users.png", class: "sidebar_icon"  %><%= link_to "Users", contributors_path %></span>
    </li>
    <li class="sidebar_item">
    	<span><%= image_tag "forumw.png", class: "sidebar_icon"  %><%= link_to "Forums", forums_path %></span>
    </li>
    <li class="sidebar_item">
    	<span><%= image_tag "revision.png", class: "sidebar_icon"  %><%= link_to "Wiki Revision History", versions_path %></span>
    </li>
    <li class="sidebar_item">
    	<span><%= image_tag "email.png", class: "sidebar_icon"  %><%= link_to "Contact Admin", pages_contact_path %></span>
    </li>
  </ul>
</div>