<div class="comment">
	<h4>
		<span><%= answer.user.firstname %></span>
		<span><%= answer.user.lastname %></span>
	</h4>

	<span class="comment_time"><%= time_ago_in_words(answer.created_at) %> Ago</span>
	
	<br/>

	<p><%= answer.body %></p>

	<% if current_user.id === answer.user_id %>
		<p>
			<%= link_to 'Delete', [answer.forum, answer], method: :delete, data: { confirm: "Are sure you sure?" } %>
		</p>
	<% end %>

</div>