<%= render 'articles/search' %>

<div class="row home_title_row">
	<div class="col-md-4 home_row">
		<h4 class="home_title">Most Recent Articles</h4>
	</div>
</div>
<div class="row">
	<% @articles.each do |article| %>
		<div class="col-md-4 article_block">
			<div class="row">
				<div class="col-md-1">
					<%= image_tag("document.png", class: "article_home_image") %>
				</div>
				<div class="col-md-10">
					<h4><%= link_to article.title, article, class: "article_home_title" %></h4>
					<p class="article_home_description"><%= truncate(striphtml(article.content), length: 100) %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>
<div class="row">
	<div class="col-md-2">
		<%= link_to "See More", articles_path %>
	</div>
</div>
<div class="row home_title_row">
	<div class="col-md-12 home_row">
		<h4 class="home_title">Most Recent Categories</h4>
	</div>
</div>
<div class="row">
	<% @categories.each do |category| %>
		<div class="col-md-4 article_block">
			<div class="row">
				<div class="col-md-1">
							<%= image_tag("category.png", class: "article_home_image") %>
				</div>
				<div class="col-md-10">
					<h4><%= link_to category.name, articles_path(category: category.name), class: "article_home_title" %></h4>
					<p class="article_home_description"><%= truncate(category.description, length: 100) %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>
<div class="row">
	<div class="col-md-2">
		<%= link_to "See More", categories_path %>
	</div>
</div>