<div class="profile_wrapper">
	<div class="row">
		<div class="col-md-1">
			<%=image_tag('default-avatar.png', class: "profile_thumbnail") %>
		</div>
		<div class="col-md-11">
			<h1><%= current_user.firstname %> <%= current_user.lastname %></h1>
			<!--<p>Member since <%= current_user.created_at.strftime('%b %d, %Y') %></p> -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= link_to "Edit Profile", edit_user_registration_path %>
		</div>
	</div>

	<ul class="user-navbar">
	  <li onclick="tabs('user-articles');"><p>Articles</p></li>
	  <li onclick="tabs('user-article-comments');"><p>Article Comments</p></li>
	  <li onclick="tabs('user-forums');"><p>Forums</p></li>
	  <li onclick="tabs('user-forum-comments');"><p>Forums Comments</p></li>
	</ul>

	<div id="user-articles" class="dashboard-div">
		<h1>My Articles</h1>
		<p><%= link_to 'Create New Article', root_path %></p>
		<%= render 'articles' %>
	</div>

	<div id="user-article-comments" class="dashboard-div">
		<h1>My Article Comments</h1>
		<%= render 'article_comments' %>
	</div>

	<div id="user-forums" class="dashboard-div">
		<h1>My Forums</h1>
		<p><%= link_to 'Create New Forum', new_forum_path %></p>
		<%= render 'forums' %>
	</div>

	<div id="user-forum-comments" class="dashboard-div">
		<h1>My Forum Answers</h1>
		<%= render 'forum_comments' %>
	</div>

</div>
<script>
	tabs('user-articles');
</script>