<span>	
		<%= link_to "A", "#{categories_path}#A" %>, 
		<%= link_to "B", "#{categories_path}#B" %>, 
		<%= link_to "C", "#{categories_path}#C" %>,
		<%= link_to "D", "#{categories_path}#D" %>, 
		<%= link_to "E", "#{categories_path}#E" %>, 
		<%= link_to "F", "#{categories_path}#F" %>,
		<%= link_to "G", "#{categories_path}#G" %>, 
		<%= link_to "H", "#{categories_path}#H" %>, 
		<%= link_to "I", "#{categories_path}#I" %>, 
		<%= link_to "J", "#{categories_path}#J" %>, 
		<%= link_to "K", "#{categories_path}#K" %>, 
		<%= link_to "L", "#{categories_path}#L" %>, 
		<%= link_to "M", "#{categories_path}#M" %>,  
		<%= link_to "N", "#{categories_path}#N" %>,
		<%= link_to "O", "#{categories_path}#O" %>, 
		<%= link_to "P", "#{categories_path}#P" %>, 
		<%= link_to "Q", "#{categories_path}#Q" %>, 
		<%= link_to "R", "#{categories_path}#R" %>,
		<%= link_to "S", "#{categories_path}#S" %>, 
		<%= link_to "T", "#{categories_path}#T" %>, 
		<%= link_to "U", "#{categories_path}#U" %>, 
		<%= link_to "V", "#{categories_path}#V" %>, 
		<%= link_to "W", "#{categories_path}#W" %>, 
		<%= link_to "X", "#{categories_path}#X" %>,  
		<%= link_to "Y", "#{categories_path}#Y" %>, 
		<%= link_to "Z", "#{categories_path}#Z" %> 
</span>