<div class="home_title_row row">
	<div class="col-md-12 home_row">
		<h4 class="home_title">Categories</h4>
	</div>
</div>

<div class="row margin-left">
	<%= render 'category_search_bar' %>
</div>

<br/>
	<% @categories.each do |alpha, category| %>
	<div class="row margin-left">
		<h1 id=<%= alpha %>><%= alpha %></h1>
	</div>
		<div class="row">
			<% category.each do |category| %>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-1">
							<%=image_tag"category.png", class: "article_home_image" %>
						</div>
						<div class="col-md-10">
							<h4 class="article_home_title"><%= link_to category.name, category_path(category) %></h4>
							<p class="article_home_description"><%= truncate(category.description, length: 100) %></p>
							<p><%= category.articles.count %> Articles </p>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
