!!!
%html
%head
	%title NEI Wiki
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	%link{ href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700', rel: 'stylesheet', type: 'text/css'}
	= csrf_meta_tags
%body
	%p.notice.text-center.alert-warning= notice
	%p.alert.text-center.alert-danger= alert
	-if user_signed_in?
		%nav.navbar.navbar-inverse.navbar-fixed-top
			%div.container-fluid
				%div.navbar-header
					%a.navbar-brand NEI WIKIPEDIA
				%div.collapse.navbar-collapse
					-if user_signed_in?
						%ul.nav.navbar-nav.navbar-right
							%li= link_to "Create A New Article", new_article_path
							%li= link_to "Logout", destroy_user_session_path, method: :delete
					-else
						%ul.nav.navbar-nav.navbar-right
							%li= link_to "Login", new_user_session_path
							%li= link_to "Sign Up", new_user_registration_path
		%div.container-fluid
			%div.row
				%div.col-sm-3.col-md-2.sidebar
					%ul.nav.nav-sidebar
						%li.category_header
							%span
								=image_tag"home.png"
								= link_to "Home", root_path
						%li.sidebar_item
							%span
								=image_tag"profile.png", class: "sidebar_icon"
								= link_to "My Profile", pages_profile_path
						%li.sidebar_item
							%span
								=image_tag"documentw.png", class: "sidebar_icon"
								= link_to "Articles", articles_path
						%li.sidebar_item
							%span
								=image_tag"categoryw.png", class: "sidebar_icon"
								= link_to "Categories", categories_path
						%li.sidebar_item
							%span
								=image_tag"users.png", class: "sidebar_icon"
								= link_to "Users", users_path
						%li.sidebar_item
								=image_tag"forumw.png", class: "sidebar_icon"
								= link_to "Forums", categories_path
						%li.sidebar_item
							%span
								=image_tag"revision.png", class: "sidebar_icon"
								= link_to "Wiki Revision History", versions_path
						%li.sidebar_item
							%span
								=image_tag"email.png", class: "sidebar_icon"
								= link_to "Contact Admin",pages_contact_path
				%div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
					= yield
	-else

		= yield