!!!
%html
%head
	%title NEI Wiki
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%p.notice.text-center.alert-warning= notice
	%p.alert.text-center.alert-danger= alert
	-if user_signed_in?
		%nav.navbar.navbar-inverse.navbar-fixed-top
			%div.container-fluid
				%div.navbar-header
					%a.navbar-brand NEI WIKIPEDIA
				%div.collapse.navbar-collapse
					-if user_signed_in?
						%ul.nav.navbar-nav.navbar-right
							%li= link_to "Create A New Article", new_article_path
							%li= link_to "Logout", destroy_user_session_path, method: :delete
					-else
						%ul.nav.navbar-nav.navbar-right
							%li= link_to "Login", new_user_session_path
							%li= link_to "Sign Up", new_user_registration_path
		%div.container-fluid
			%div.row
				%div.col-sm-3.col-md-2.sidebar
					%ul.nav.nav-sidebar
						%li
							%h4.category_header= link_to "Home", root_path
						%li
							= link_to "My Profile", pages_profile_path
						- Category.all.each do |category|
							%li= link_to category.name, articles_path(category: category.name)
						%li
							= link_to "Revision History", versions_path
						%li
							= link_to "List of all Categories", categories_path
				%div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
					= yield
	-else

		= yield